body {
  background-color: #f5f5eb;
  font-family: "Inter", Verdana, sans-serif;
  font-weight: normal;
  margin: 0px;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
}
input {
  width: 0;
  height: 0;
  appearance: none;
  display: none;
}
.accordion {
  max-width: 80%;
  margin: 0 auto;
}
.accordion__item {
  border-top: 0.02rem solid gray;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  cursor: pointer;
}
.accordion__item--text {
  display: flex;
  justify-content: space-between;
  color: #0059d8;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.4s ease;
}
.accordion__item--label {
  cursor: pointer;
}
.accordion__item--icon {
  align-items: center;
  background-image: url("./assets/img/plus-svgrepo-com.svg");
  width: 2rem;
  background-position: center;
  background-size: 1.25rem;
  background-repeat: no-repeat;
  transition: all 0.4s ease-out;
}

.img {
  display: block;
  width: 60%;
  margin: 0 auto;
  transition: all 0.4s ease-out;
  transform: scale(0.01);
  max-height: 0em;
}

.meme-input:checked ~ .accordion__item__img-container > .img {
  transform: scale(1);
  max-height: 30rem;
}
.meme-input:checked ~ .accordion__item--text > .accordion__item--icon {
  rotate: 45deg;
}

.meme-input:checked ~ .accordion__item--text {
  color: #000000;
}

@media screen and (min-width: 1280px) {
  .accordion__item--icon {
    opacity: 0;
  }
  .accordion:hover .accordion__item--icon {
    opacity: 1;
  }

  .accordion:hover .accordion__item--text {
    color: #000000;
  }
}
